@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Плавный скролл
    */
   scroll-behavior: smooth;
 }

:root{
    --color-dark: #000000;
    --color-dark-gray:#2a2a2a;
    --color-light-gray: #f4f4f4;
    --color-light: #ffffff;
    --color-green: #286e67;

    --font-family-base: "Poppins" , sans-serif;
}

body{
    font-family: var(--font-family-base);
    color: var(--color-dark-gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-light);
    max-width: 1440px;
    margin-inline: auto;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

h2{
    font-size: 50px;
    line-height: 62px;
    margin: 0;
}

p{
    margin: 0;
}

button{
    display: block;
    padding: 16px 80px;
    border-radius: 67px;
    border: 0;
    font-weight: 600;
    font-size: 21px;
    white-space: nowrap;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 142px;
    padding-right: 17px;
    padding-top: 32px;
    column-gap: 15px;
}

.logo{
    display: flex;
    column-gap: 12px;
}

.ellipse{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #D0D0D0;
}

.logo-text{
    color: var(--color-green);
    font-size: 21.33px;
    font-weight: 600;
    line-height: 24px;
}

.nav-bar-list{
    display: flex;
    list-style-type: none;
    column-gap: 40px;
}

.nav-bar-list a{
    text-decoration: none;
    color: var(--color-dark);
}

.container{
    max-width: 1300px;
    margin-inline: auto;
}

.container-flex{
    display: flex;
    flex-direction: column;
    row-gap: 104px;
}

.header-S1{
    padding-bottom: 33px;
    text-align: center;
}

.title-S1{
    font-size: 65px;
    font-weight: 600;
    line-height: 82px;
    padding-bottom: 17px;
}

.button-S1{
    background-color: var(--color-green);
    color: var(--color-light); 
    margin: auto;  
    margin-bottom: 56px;
}

.images{
    display: flex;
    column-gap: 48px;
}

.image{
    border-radius: 16px;
    overflow: auto;
}

.section2{
    background-color: var(--color-light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 112px;
}

.main-block-S2{
    padding-block: 52px;
    max-width: 589px;
}

.header-S2{
    margin-bottom: 45px;
    padding-top: 48px;
}

.sub-text-s2{
    display: flex;
    column-gap: 69px;
}

.vector{
    background-color: var(--color-green);
    border-radius: 9px;
    padding: 14px 16px;
    max-width: 58px;
}

.leaf{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.illustration{
    align-self: self-end;
}

.section3{
  display: flex;
  justify-content: space-between;
}

.section3_img{
  border-radius: 16px;
  height: 100%;
  object-fit: cover;
}

.section3_main-block{
  max-width: 624px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.section3_article{
  display: flex;
  align-items: center;
  column-gap: 23px;
}

.section3_ellipse{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  border: 2px solid #286e67;
  border-radius: 50%;
  flex-shrink: 0;
}

.section3_vector-img{
  width: 28px;
  height: 30px;
}

.section4{
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: space-between;
  padding: 56px 206px 123px 144px;
}

.section4_main-block{
  max-width: 543px;
}

.section4_header{
  margin-bottom: 41px;
  padding-top: 35px;
}

.section4_articles-block{
  display: flex;
  column-gap: 69px;
  padding-bottom: 8px;
}

.section4-article{
  display: flex;
  flex-direction: column;
  row-gap: 20px;  
}

.section4_vector{
  background-color: #EBBFAE;
  border-radius: 9px;
  padding: 14px 16px;
  max-width: 58px;
}

.section5_background-main{
  background-image: url(images/tyler-lastovich-AVzByhROPbs-unsplash\ 1.jpg);
  background-size: cover;
  padding: 99px 326px 228px 326px;
  border-radius: 12px;
}

.section5_main{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  padding-block: 12px;
}

.section5_vector-block{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #ffffff;
  border-radius: 9px;
  width: 92px;
  height: 82px;
}

.section5_vector-img{
  height: 48px;
  width: 44px;
}

.section5_article{
  text-align: center;
  color: #ffffff;
  margin-bottom: 28px;
  margin-top: 45px;
}

.section5_article h2{
  font-size: 37.9px;
  line-height: 36px;
  margin-bottom: 12px;
}

.section5_footer{
  background-color: #FCE2D7;
  max-width: 1165px;
  padding: 119px 66px;
  margin-inline: auto;
  margin-top: -192px;
  border-radius: 12px;
}

.section5_footer-main{
  display: flex;
  justify-content: space-around;
}

.section5_footer-main p{
  font-size: 21px;
}

.section5_footer-main_article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section5_footer_vector{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #000000;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  margin-bottom: 6px;
}

.footer_logo-text{
  color: var(--color-light);
}

.footer{
  background-color: var(--color-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 139px;
  padding-block: 78px;
  margin-top: 120px;
}

.footer_icons{
  display: flex;
  column-gap: 24px;
  margin-top: 36px;
}

.footer a{
  color: var(--color-light);
}